@model IEnumerable<ManageExport_V2.Models.Entity.ExportProductBill>

@{     
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";    

}
<h1>List Export Product Bill</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Total Money
            </th>
            <th>
                Export Date
            </th>
            <th>
                Subsidiary Agent
            </th>           

          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var exportDate = item.ExportDate.ToLocalTime();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.TotalMoney)
                </td>
                
                <td>
                    @exportDate
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.AgentName)
                </td>

               
            </tr>
        }
    </tbody>
</table>